*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
.settings/
.classpath
.project
/target/SpringBootProject/
/target/classes/
/target/maven-status/
/target/m2e-wtp/
/target/maven-archiver/
